<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <title>Admin</title>
  <style>
    @import url("/style/adminPartials.css");
    @import url("/style/admin.css");
    @import url("/style/admincoupons.css");
    @import url("/style/search.css");
    @import url("/style/pagination.css");
  </style>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <section class="nav wrapper">
    <div class="container">
      <nav id="admin-nav">
        <ul>
          <li data-url="/admin"><a href="#dashboard"><i data-lucide="layout-dashboard"></i> <b>Dashboard</b></a></li>
          <li data-url="/admin/orders"><a href="#orders"><i data-lucide="shopping-bag"></i> <b>Orders</b></a></li>
          <li data-url="/admin/products"><a href="#coupons"><i data-lucide="package"></i> <b>Products</b></a></li>
          <li data-url="/admin/categories"><a href="#categories"><i data-lucide="grid"></i> <b>Categories</b></a></li>
          <li data-url="/admin/coupons"><a href="#coupons"><i data-lucide="users"></i> <b>coupons</b></a></li>
          <li data-url="/admin/reports"><a href="#reports"><i data-lucide="bar-chart-2"></i> <b>Reports</b></a></li>
          <li class="active" data-url="/admin/coupons"><a href="#coupons"><i data-lucide="ticket"></i> <b>Coupons</b></a></li>
          <li data-url="/admin/inbox"><a href="#inbox"><i data-lucide="inbox"></i> <b>Inbox</b></a></li>
          <li data-url="/admin/transactions"><a href="#transactions"><i data-lucide="credit-card"></i> <b>Transactions</b></a></li>
          <li data-url="/admin/adminrole"><a href="#adminrole"><i data-lucide="shield"></i> <b>Admin Role</b></a></li>
        </ul>
      </nav>
      <div id="admin-menu-chevron">
        <i data-lucide="chevron-right"></i>
      </div>
      <div class="sections">
        <section id="coupons" class="show">
          <header>
            <h1>Coupons</h1>
            <button type="button" class="nav-add-coupon"><i data-lucide="plus"></i>Add Coupon</button>
          </header>
          <section class="admin-search coupons-search">
            <form>
              <input type="text" name="adn-search" id="adn-search" placeholder="search">
              <label for="adn-search" class="adn-clear-label"><i data-lucide="X"></i></label>
            </form>
            <div class="search-container">
              <button class="active-block-filter"><i data-lucide="list-filter"></i>
                <ul>
                  <li>Filter By</li>
                  <li data-isactive="true">Active Coupons</li>
                  <li data-isactive="false">Inctive Coupons</li>
                </ul>
              </button>
            </div>
          </section>
          <% if (coupons && coupons.length !== 0) { %>
          <table class="coupon-list-table">
            <thead>
              <tr>
                <th class="header-coupon-code">Code</th>
                <th class="header-discount">Discount</th>
                <th class="header-type">Type</th>
                <th class="header-expiry">Expiry Date</th>
                <th class="header-status">Status</th>
                <th class="header-actions">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% coupons.forEach(item => { %>
              <tr class="coupon-row" data-coupon-id="<%= item._id %>">

                <td class="coupon-code-cell">
                  <%= item.code.toUpperCase() %>
                </td>

                <td class="discount-cell">
                  <%= item.discountValue %>
                  <%= item.discountType === 'percentage' ? '%' : '₹' %>
                </td>

                <td class="type-cell">
                  <%= item.discountType %>
                </td>

                <td class="expiry-cell">
                  <%= item.expiryDate.toLocaleDateString() %>
                </td>

                <td class="status-cell <%= item.isActive ? 'active' : 'expired' %>">
                  <%= item.isActive ? 'Active' : 'Expired/Inactive' %>
                </td>

                <td class="action-cell">
                  <button class="action-btn edit-btn" title="Edit" data-id="<%= item._id %>">
                    <i data-lucide="edit"></i>
                  </button>
                  <button class="action-btn delete-btn" title="Delete" data-id="<%= item._id %>">
                    <i data-lucide="trash-2"></i>
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% }else{ %>
          <p>No Coupons ....</p>
          <% } %>

          <div class="pagination">
            <% if (page > 1) { %>
            <a href="" class="pagination-btn" data-page="<%= page - 1 %>" data-limit="<%= limit %>"><i data-lucide="arrow-left"></i>Previous</a>
            <% } else {%>
            <a href="" style="visibility: hidden;"><i data-lucide="arrow-left"></i>Previous</a>
            <% } %>

            <span>
              <% for(let i = 1; i <= totalPages; i++) { %>
              <% if (i === page) { %>
              <span class="btn disable"><%= i %></span>
              <% } else { %>
              <a class="btn pagination-btn" href="" data-page="<%= i %>" data-limit="<%= limit %>"><%= i %></a>
              <% } %>
              <% } %>
            </span>

            <% if (page < totalPages) { %>
            <a href="" class="pagination-btn" data-page="<%= page + 1 %>" data-limit="<%= limit %>">Next<i data-lucide="arrow-right"></i></a>
            <% } else {%>
            <a href="" style="visibility: hidden;">Next<i data-lucide="arrow-right"></i></a>
            <% } %>
          </div>
        </section>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script type="module" src="/script/admin/adminCoupons.js"></script>
  <script src="/script/admin/adminNav.js"></script>
</body>

</html>