<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
  <link rel="stylesheet" href="/style/partials.css">
  <link rel="stylesheet" href="/style/swal.css">
  <link rel="stylesheet" href="/style/account.css">
  <title>Account</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/refcode.ejs') %>

  <section class="account wrapper">
    <h1 class="main-heading">My Profile</h1>
    <div class="container">
      <nav>
        <div class="image-container">
          <div class="avatar">
            <img src="<%= personalInfo?.avatar ? `${personalInfo.avatar}`: 'images/icons/account.svg' %>" alt="avatar">
          </div>
          <h5>Hello👋 <%= personalInfo ? personalInfo.fname: '' %></h5>
        </div>
        <ul>
          <li class="active" data-url="/account"><a href="#personal-information"><i data-lucide="user"></i><b>Personal Information</b></a></li>
          <li data-url="/myorders"><a href="#my-orders"><i data-lucide="shopping-bag"></i> <b>My Orders</b></a></li>
          <li data-url="/myreviews"><a href="#my-reviews"><i data-lucide="star"></i> <b>My Reviews</b></a></li>
          <li data-url="/mywishlist"><a href="#my-wishlist"><i data-lucide="heart"></i> <b>My Wishlist</b></a></li>
          <li data-url="/address"><a href="#manage-address"><i data-lucide="map-pin"></i> <b>Manage Address</b></a></li>
          <li data-url="/savedcards"><a href="#saved-cards"><i data-lucide="credit-card"></i> <b>Saved Cards</b></a></li>
          <li data-url="/mywallet"><a href="#my-wallet"><i data-lucide="wallet"></i> <b>My Wallet</b></a></li>
          <li data-url="/notification"><a href="#notification"><i data-lucide="bell"></i> <b>Notification</b></a></li>
          <li data-url="/settings"><a href="#settings"><i data-lucide="settings"></i> <b>Settings</b></a></li>
        </ul>
      </nav>
      <div class="sections">
        <ol style="display: flex; gap: 1rem; margin-block: 1rem; ">
          <li><a href="/">Home &raquo;</a></li>
          <li>Profile</li>
        </ol>
        <section id="personal-information">
          <form class="overlay-form" enctype="multipart/form-data">
            <div class="form-input-container">
              <div class="figure">
                <label class="profile-label">
                  <img src="<%= personalInfo?.avatar ? `${personalInfo.avatar}`: 'images/icons/account.svg' %>" alt="avatar">
                </label>
                <input type="file" name="profile" id="profile" style="display: none;">
              </div>
              <button type="button"><img src="images/icons/edit.svg" alt="edit">Edit Profile</button>
            </div>
            <div class="form-input-container">
              <div>
                <label for="fname">First Name</label>
                <input type="text" name="fname" id="fname" placeholder="First Name" value="<%= personalInfo ? personalInfo.fname : '' %>">
              </div>
              <div>
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname" placeholder="Last Name" value="<%= personalInfo ? personalInfo.lname : '' %>">
              </div>
            </div>
            <div class="form-input-container">
              <div>
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" placeholder="Phone" value="<%= personalInfo ? personalInfo.phone : '' %>">
              </div>
              <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" value="<%= email ? email : '' %>">
              </div>
            </div>
            <div class="form-input-container">
              <div>
                <label for="gender">Gender</label>
                <div class="radio-gender">
                  <input type="radio" name="gender" value="male" <%= personalInfo?.gender === 'male' ? 'checked' : '' %>><b>Male</b>
                </div>
                <div class="radio-gender">
                  <input type="radio" name="gender" value="female" <%= personalInfo?.gender === 'female' ? 'checked' : '' %>><b>Female</b>
                </div>
              </div>
              <div>
                <label for="address">Address</label>
                <select name="address" id="address">
                  <option value="" selected disabled hidden>Add an address
                    in Manage Address option</option>
                  <% if (address && address.length !== 0) { %>
                  <% address.forEach((a) => { %>
                  <option value="<%= a._id %>" <%= personalInfo?.address?.toString() === a._id.toString() ? 'selected' : '' %>><%= `${a.houseName} ${a.street} ${a.city}`%></option>
                  <% }) %>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="form-input-container">
              <a href="/changepassword" class="change-password">Need to change your password? click here</a>
              <input type="submit" disabled value="Save">
            </div>
          </form>
          <div id="cropper-modal">
            <div>
              <h3>Crop Your Profile Picture</h3>
              <div id="image-prompt">
                <p>Please select an image to begin cropping.</p>
              </div>
              <div id="cropper-container">
                <img id="crop-image" src="" alt="Image to be cropped">
              </div>
              <div class="cropper-actions">
                <button type="button" id="select-new-btn">Select Image</button>
                <div style="display: flex; gap: 10px;">
                  <button type="button" id="cancel-crop-btn">Cancel</button>
                  <button type="button" id="save-crop-btn" style="display: none;">Save</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </section>

  <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

  <script src="/script/account.js" type="module"></script>
  <script src="/script/personalInfo.js" type="module"></script>
  <%- include('./partials/footer.ejs') %>
</body>

</html>