<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style/partials.css">
  <link rel="stylesheet" href="style/swal.css">
  <link rel="stylesheet" href="style/pagination.css">
  <link rel="stylesheet" href="style/product.css">
  <title>Products</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <section class="wrapper products">

    <ol style="display: flex; gap: 1rem; margin-block: 1rem; ">
      <li><a href="/">Home &raquo;</a></li>
      <li>Product</li>
    </ol>


    <main>
      <div class="aside-modal-wrapper">
        <aside>
          <button type="button" class="close-filter-btn">
            <i data-lucide="x"></i>
          </button>
          <section class="filter filter-main">
            <div class="head">
              <h3>Filter</h3>
              <i data-lucide="chevron-down"></i>
            </div>
            <ul class="filter-drop-down">
              <li data-categoryid=""><b>All</b> <i data-lucide="chevron-right"></i></li>
              <% categories.forEach(category => { %>
              <li data-categoryid="<%= category._id %>"><b><%= category.categoryName %></b> <i data-lucide="chevron-right"></i></li>
              <% }) %>
            </ul>
          </section>
          <section class="filter filter-size">
            <div class="head">
              <h3>Size</h3>
              <i data-lucide="chevron-down"></i>
            </div>
            <ul class="size-drop-down">
              <li data-size=""><b>All</b></li>
              <li data-size="s"><b>Small</b></li>
              <li data-size="m"><b>Medium</b></li>
              <li data-size="l"><b>Large</b></li>
              <li data-size="xl"><b>X-Large</b></li>
              <li data-size="xxl"><b>2X-Large</b></li>
              <li data-size="xxxl"><b>3X-Large</b></li>
            </ul>
          </section>
          <section class="filter filter-price-range">
            <div class="head">
              <h3>Price Range</h3>
              <i data-lucide="chevron-down"></i>
            </div>
            <form>
              <input type="number" required min="<%= 0 %>" max="<%= minPrice %>" name="price-range-start" id="price-range-start" placeholder="₹ Min">
              <input type="number" required min="<%= 0 %>" max="<%= minPrice %>" name="price-range-end" id="price-range-end" placeholder="₹ Max">
              <input type="submit" value="Apply">
            </form>
          </section>
          <button type="button" class="clear-filter-btn"><b>Clear Filters</b></button>
        </aside>
      </div>
      <section class="main">
        <section class="sort-section">
          <h1 class="category-heading">All</h1>
          <div class="sort-and-actions">
            <div class="sort-container">
              <label for="sortby">Sort by: </label>
              <select name="sortby" id="sortby">
                <option value="" disabled selected>Price</option>
                <option class="price-sort" value="-1">price low &harr; high</option>
              </select>
            </div>
            <div class="mobile-actions">
              <form class="mobile-search-form">
                <input type="text" placeholder="Search products..." name="search-mobile">
                <button type="submit"><i data-lucide="search"></i></button>
              </form>

              <button class="mobile-filter-btn" type="button">
                <i data-lucide="filter"></i>
              </button>
            </div>
          </div>
        </section>
        <section class="gallery">
          <% products.forEach(product => { %>
          <article class="nav-to-product-detail-page" data-productid="<%= product.prId %>" data-variantid="<%= product.vrId %>">
            <figure>
              <img src="<%= product.image %>" alt="<%= product.productName %>">
            </figure>
            <div>
              <h4><%= product.productName %></h4>
              <div class="icons">
                <div class="star">
                  <% for( let star = 1; star <= 5; star++ ) { %>
                  <% if (star <= product.rating) { %>
                  <i data-lucide="star" class="rating true"></i>
                  <% } else {%>
                  <i data-lucide="star" class="rating false"></i>
                  <% } %>
                  <% } %>
                  &nbsp;
                  <span><%= product.rating %> / 5</span>
                </div>
                <div>
                  <span class="cart-icon" data-variantid="<%= product.vrId %>" data-color="<%= product.color %>" data-size="<%= product.sizes[0] %>" data-count="1">
                    <i data-lucide="shopping-cart"></i>
                  </span>
                  <span class="favorite-icon">
                    <i data-lucide="heart"></i>
                  </span>
                </div>
              </div>
              <h3 class="price">
                <i data-lucide="indian-rupee" class="ruppee-icon"></i>
                <b><%= product.price %></b>
                <del>
                  <i data-lucide="indian-rupee" class="ruppee-icon"></i>
                  <b><%= product.price + product.discountedPrice %></b>
                </del>
              </h3>
            </div>
          </article>
          <% }) %>
        </section>
      </section>
    </main>
    <div class="pagination">
      <% if (page > 1) { %>
      <a href="" class="pagination-btn" data-page="<%= page - 1 %>" data-limit="<%= limit %>"><i data-lucide="arrow-left"></i>Previous</a>
      <% } else {%>
      <a href="" style="visibility: hidden;"><i data-lucide="arrow-left"></i>Previous</a>
      <% } %>

      <span class="pagination-btn-container">
        <% for(let i = 1; i <= totalPages; i++) { %>
        <% if (i === page) { %>
        <span class="btn disable"><%= i %></span>
        <% } else { %>
        <a class="btn pagination-btn" href="" data-page="<%= i %>" data-limit="<%= limit %>"><%= i %></a>
        <% } %>
        <% } %>
      </span>

      <% if (page < totalPages) { %>
      <a href="" class="pagination-btn" data-page="<%= page + 1 %>" data-limit="<%= limit %>">Next<i data-lucide="arrow-right"></i></a>
      <% } else {%>
      <a href="" style="visibility: hidden;">Next<i data-lucide="arrow-right"></i></a>
      <% } %>
    </div>
  </section>


  <%- include('./partials/footer.ejs') %>
  <script src="https://unpkg.com/lucide@0.546.0/dist/umd/lucide.js"></script>
  <script src="/script/product.js" type="module"></script>
</body>

</html>